<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <title>Cheeky Beers</title>
    <% include ./partials/stylesheets %>
    <% include ./partials/scripts %>
  </head>
  <body>
    <% include ./partials/navbar %>
    <main class="container">
      <% for(const type in messages) { %>
        <p class="flash <%= type %>"><%= messages[type] %></p>
      <% } %>
      <%- body %>
    </main>
  </body>
</html>
