<div class="centered">
  <br>
  <h1>404: Not Found</h1>
  <h2>No beer here!</h2>
  <div class="small-12 columns">
    <img src="../assets/images/empty-pint.jpg" alt="Empty Glass">
    <br>
    <br>
    <p>Looks like you're trying to access a part of the site that doesn't exist, or it has been moved.</p>
    <p>Please use the navigation links above to find what you are looking for.</p>
  </div>
</div>
