$white: #fff;

body {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  background-color: #2a2a2a;
  color: $white;
}

.centered {
  text-align: center;
}

// Overwrites Bootstrap styling
// .center {
//   @extend .centered;
// }

// Navbar styling
.top-bar {
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'Slackey', cursive;
  ul {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    li {
      font-size: 18px;
      a:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: $white;
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Slackey', cursive;
}

h1 {
  text-shadow: 3px 3px grey;
}

// Welcome page
div.home {
  height: 95vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/beer-wall.jpg');
  position: relative;
  background-position: center;
  background-size: cover;
  color: $white;
  h1 {
    font-size: 4em;
  }
  p {
    font-size: 20px;
  }
  .middle {
    position: absolute;
    padding: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
  }
}

// Container div for individual beer show page
.showbox {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label {
  font-family: inherit;
  font-size: 16px;
  color: $white;
}

// Form styling
.form-width {
  width: 50%;
  margin: 0 auto;
  margin-top: 8%;
  .button {
    margin-top: 2%;
  }
}

// Edit and delete buttons
.button {
  border-radius: 5px;
}

// Login flash messages
p.flash {
  width: 50%;
  margin: 0 auto;
  @extend .centered;
  &.success {
    color: navy;
    background-color: lightblue;
    text-shadow: 1px 1px white;
    border: 2px solid white;
  }
  &.danger {
    color: red;
    background-color: pink;
    text-shadow: 1px 1px white;
    border: 2px solid white;
  }
}

// .beer:nth-child(4, 8, 12) {
//   clear: left;
//   margin-left: 0;
// }

.beer {
  max-width: 100%;
}


// @media only screen and (min-width: 768px) {
//     /* tablets and desktop */
// }
//
// @media only screen and (max-width: 767px) {
//     /* phones */
// }
//
// @media only screen and (max-width: 767px) and (orientation: portrait) {
//     /* portrait phones */
// }

// Landscape Tablets
@media only screen and (max-width: 1024px) {
  // Form styling
  .form-width {
    width: 60%;
  }
  div.home {
    .middle {
      padding: 40px 20px 30px;
    }
  }
}

// Tablets
@media only screen and (max-width: 768px) {
  // Navbar
  .top-bar {
    ul {
      padding-left: 20px;
      padding-right: 20px;
      li {
        font-size: 20px;
      }
    }
  }
  // Welcome page
  div.home {
    h1 {
      font-size: 5em;
    }
    p {
      font-size: 25px;
    }
    .middle {
      padding: 40px 60px 30px;
    }
  }
  // Form styling
  .form-width {
    width: 80%;
    margin: 0 auto;
    margin-top: 8%;
    .button {
      margin-top: 2%;
    }
  }
}
//
// // Phones
// @media only screen and (max-width: 575px) {
//   .top-bar {
//     ul {
//       padding-left: 20px;
//       padding-right: 20px;
//       li {
//         font-size: 36px;
//         a {
//           font-size: 36px;
//         }
//       }
//     }
//   }
// }
