<div class="centered">
  <h1>Login</h1>

  <form method="POST" action="/login" class="form-width">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" name="email" id="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
    </div>

    <button class="button">Login</button>
  </form>
</div>
